# 여기는 내가 git에서 예외 처리하고 싶은 파일을 넣는 곳
.DS_Store

# 각종 문서 파일 (워드, 파워포인트)
*.docx
*.pptx
*.xlsx
*.csv
# 이름에 CSV가 들어간 '폴더'는 ignore 예외 (staging 대상에 포함)
!*csv*/

# Backup files
*.bak

# Image files
*.jpg
*.png
*.gif

# node module 제외
node_modules

# 각종 DB files
*.db
*.sqlite
*.sqlite3

# 개인 설정
.vscode/extensions.json
.vscode/settings.json
