h1,
h2 {
  text-align: center;
}

img#bg {
  width: 100%;
  align-content: center;
}

#calendar {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  width: 14%;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

th {
  background-color: #dadada;
}

#calendar th:first-child,
#calendar td:first-child {
  color: red;
}

#calendar th:last-child,
#calendar td:last-child {
  color: blue;
}