* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

div {
  /* width: 350px;
  height: 500px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 20px 50px black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;  */
}

div.container {
  position: relative;
  width: 350px;
  height: 500px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 20px 50px black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

div.signup {
  /* position: relative; */
  width: 100%;
  height: 100%;
  z-index: 2;
}

div.login {
  position: absolute;
  top: 420px;
  width: 350px;
  height: 460px;
  /* top: 500px; */
  /* width: 350px;
  height: 500px; */
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: all 0.5s;
}

div.login:checked {
  top: 150px;
}

form {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.login form {
  width: 350px;
  height: 460px;
  background-color: white;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  border-radius: 50% / 10%;
  display: flex;
  justify-content: flex-start;
}

form * {
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

label {
  cursor: pointer;
  font-size: 32px;
  margin: 0px 10px 40px 10px;
  transition: all 0.5s;
}

div.login label {
  color: #6240A2;
  /* margin: 0px 10px; */
  transform: scale(0.6);
}

div.signup label {
  transform: scale(1.0);
}

input {
  width: 75%;
  height: 40px;
  /* margin: 10px; */
  padding: 10px;
  color: black;
  background: #e0dede;
  /* background-color: */
}

button {
  width: 70%;
  height: 40px;
  background-color: #6240A2;
}

#chk {
  display: none;
}

#chk:checked~div.login {
  top: 150px;
}

#chk:checked~div.login label {
  transform: scale(1.0);
  /* font-size: 32px; */
}

#chk:checked~div.signup label {
  transform: scale(0.6);
  /* font-size: 16px; */
}