<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{ title }}
  </title>
</head>

<body>
  <h1>
    {{ message }}
  </h1>
  <p>NJK 파일을 통해서 SSR 처리되었습니다</p>
  <p>NJK 파일을 통해서 SSR 처리되었습니다</p>
  <img src="images/puppy1.jpg" alt="강아지 사진 없음">
  <p>NJK 파일을 통해서 SSR 처리되었습니다</p>
</body>

</html>